.reveal {

    pre[class*="language-"] {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.6em;
        padding: 0.5em;
        code {
            padding: 0;
        }
    }

    .prismjs-debugger {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.2em;
        background-color: white;
        button {
            margin: 0 5px;
        }
        .prismjs-pointer {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 1em;
            transition: top 1s ease 0s;
        }
        .prismjs-console {
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 30%;
            background-color: white;
            color: black;
            .prismjs-console-msg {
                margin: 0 0.5em;
            }
        }
    }

    ul.blocks {
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        list-style-type: none;
        margin: 1em 0;
        & > li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em;
            text-align: center;
            background-color: #78b9e6;
            color: white;
            border: solid 2px #268bd2;
        }
    }

    .blocks-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    #page-structure {
        display: grid;
        grid-template-columns: 25% auto;
        color: black;
    }

    #page-header {
        grid-column-end: span 2;
        padding: 1em 0;
        background-color: #468966;
    }

    #page-menu {
        padding: 3em 0;
        background-color: #FFB03B;
    }

    #page-body {
        padding: 3em 0;
        background-color: #FFF0A5;
    }

    #page-footer {
        grid-column-end: span 2;
        padding: 1em 0;
        background-color: #B64926;
    }

    .url-param {
        color: #B64926;
    }

    .url-value {
        color: #268bd2;
    }

}
